/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografía
    4. Visuales
    5. Otros (Misceleanos)
*/
:root {
    /* Colors */
    /* font-size */
}
/* Valores iniciales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
/* Fin Valores iniciales */
body {
    font-size: 1.6rem;
}
section {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}
button {
    width: 100px;
    height: 50px;
    background-color: #0A65EC;
    cursor: pointer;
    border: none;
    box-shadow: 1px 2px 5px black;
}
.better {
    /* Optimización */
    will-change: transform;
    transition: transform 500ms;
}
.better:hover {
    transform: translateY(5px);
}
.worst {
    /* Optimización */
    will-change: transform;
    transition: margin-top 500ms;
}
.worst:hover {
    margin-top: 5px;
}